<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='/css/register.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>
          Sign Up - Earn & Eat
        </title>
    </head>
    <body>
        <div class="tp-register-centerer">
            <div class="tp-register-main">
                <div class="tp-register-title heading">
                    Add Homeless Person - NGO
                </div>
                <br>
                <br>
                <form class="tp-login-form" autocomplete="off" action="/idk" method="POST">
                        <label for="username" autocomplete="off">
                            <div class="tp-login-placeholder heading">
                                Name
                            </div>
                            
                            <input type="text" name="username">
                        </label>
                        <br>
                        <label for="password" autocomplete="off">
                            <div class="tp-login-placeholder heading">
                                Shelter Credits
                            </div>
                            
                            <input type="number" name="password">
                        </label>
                        <br>
                        <label for="repassword" autocomplete="off">
                            <div class="tp-login-placeholder heading">
                                Food Credits
                            </div>
                            
                            <input type="number" name="repassword">
                        </label>
                        <br>
                        <br>
                        <input type="submit" value="Add Person">
                        <!-- <button type="submit">Submit</button> -->
                        <br>
                        <br>
                        <center>
                            <a class="tp-login-a" href="/web/ngo/dashboard">
                              Back to Dashboard
                            </a>
                            <br>
                        </center>
                        
                </form>
            </div>
        </div>
    </body>
</html>
<script src="{{ url_for('static', filename='jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.data-parallax.js') }}"></script>
<script>


</script>
<script>
    $('.tp-login-form input').on('change',function(){
        var placeholder = $(this).parent().children('.tp-login-placeholder');
        if($(this).val() != ''){
            placeholder.addClass('select');
        }else{
            placeholder.removeClass('select');
        }
    });
    $('.tp-login-form input').on('keypress',function(){
        var placeholder = $(this).parent().children('.tp-login-placeholder');
        setTimeout(() => {
            if($(this).val() != ''){
                placeholder.addClass('select');
            }else{
                placeholder.removeClass('select');
            }
        }, 100);
        
    });
    $('.tp-login-form input').on('focus',function(){
        var placeholder = $(this).parent().children('.tp-login-placeholder');
        placeholder.addClass('select');
    });
    $('.tp-login-form input').on('focusout',function(){
        var placeholder = $(this).parent().children('.tp-login-placeholder');
        if($(this).val() != ''){
            placeholder.addClass('select');
        }else{
            placeholder.removeClass('select');
        }
    });
    $('.tp-login-form input').on('input',function(){
        var placeholder = $(this).parent().children('.tp-login-placeholder');
        if($(this).val() != ''){
            placeholder.addClass('select');
        }else{
            placeholder.removeClass('select');
        }
    });
    $('.tp-login-form input, .tp-login-form select').on('change input focus focusout', function(){
        var placeholder = $(this).parent().children('.tp-login-placeholder');
        if($(this).val() != ''){
            placeholder.addClass('select');
        }else{
            placeholder.removeClass('select');
        }
    });
    $(document).ready(function(){
    $('.tp-login-form input, .tp-login-form select').each(function(){
        var placeholder = $(this).parent().children('.tp-login-placeholder');
        if($(this).val() != ''){
            placeholder.addClass('select');
        }else{
            placeholder.removeClass('select');
        }
    });
});


$('.tp-login-form').on('change input focus focusout', 'input, select', function(){
    var placeholder = $(this).parent().children('.tp-login-placeholder');
    if($(this).val() != ''){
        placeholder.addClass('select');
    } else {
        placeholder.removeClass('select');
    }
});

$('#roleSelect').on('change', function(){
    if($(this).val() === 'ngo'){
        $('#ngo-cause-field').slideDown();
    } else {
        $('#ngo-cause-field').slideUp();
        $('#ngo-cause-field input').val('');
        $('#ngo-cause-field .tp-login-placeholder').removeClass('select');
    }
});

$(document).ready(function(){
    $('.tp-login-form input, .tp-login-form select').each(function(){
        var placeholder = $(this).parent().children('.tp-login-placeholder');
        if($(this).val() != ''){
            placeholder.addClass('select');
        } else {
            placeholder.removeClass('select');
        }
    });
});
</script>