<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styleUser.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/header.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Eat and Earn</title>
</head>
<body>
  <header>
    <div class="left q-head-nav-wrap">
        <a class="q-head-nav" href="/">
            logo
        </a>
    </div>
    <div class="q-head-nav-wrap">
        <a class="q-head-nav" href="/">
            Home
        </a>
        <a class="q-head-nav" href="/">
            About
        </a>
        <a class="q-head-nav" href="#/">
            Contact Us
        </a>
        <a class="q-head-nav" href="/logout">
            Logout
        </a>
    </div>
  </header>
  <div class="landing">
    <div class="ngoListCont">
      <h1 class="ngoHeading">List of NGOs</h1>
      <ul class="ngoList">
        {% for ngo in ngos %}
          <li class="ngoItem">{{ ngo.name }} <span class="ngoCause">{% if ngo.cause %} ({{ ngo.cause }}) {% endif %} <span class="ngoCause">Amount Raised: ${{ ngo.amount_raised if ngo.amount_raised is defined else "0.00" }}</span></span></li>
          <form action="/web/user/donate_ngo" method="POST" style="margin-top:5px;">
            <input type="hidden" name="ngo_id" value="{{ ngo._id }}">
            <input type="number" name="donation" placeholder="Enter donation amount" step="0.01" required>
            <button type="submit">Donate</button>
          </form>
        {% endfor %}
      </ul>
      <h3>
        So that's what rock bottom looks like.
      </h3>
    </div>
    <br>
  </div>
</body>
</html>
