<!DOCTYPE html>
<html>
<head>
    <title>Opportunities</title>
</head>
<body>
    <h1>Opportunities</h1>
    <ul>
    {% for o in opportunities %}
        <li>{{ o['title'] }} - {{ o.get('description','') }}</li>
    {% endfor %}
    </ul>
    <form action="/web/opportunities/create" method="POST">
        <label>Title:</label>
        <input type="text" name="title" required><br><br>
        <label>Description:</label>
        <input type="text" name="description"><br><br>
        <button type="submit">Create Opportunity</button>
    </form>
    <p><a href="/logout">Logout</a></p>
</body>
</html>
